
.calc{
    border : 2px solid black;
    background-color:black;
    width: 170px;
    margin: auto;
    margin-top: 200px;
    transform: scale(2,2);
    border-radius: 5px; 
    height: 240px;  
}
.disp{
   
    background-color:black;
}
.reset{
    width: 154px;
    border-radius: 20px;
}

.screen{
    height: 50px;
    width: 166px;
    background-color:black;
    color: white;
}


.button{
    margin-top: 5px;
    margin-left:2.5px ;
    text-align: center;
}
.butt{
    width:35px;
    height: 32px;
    border-radius: 50%;
    margin-top: 5px;
    background-color:plum;
    
}




@media(max-width: 700px){
    .calc{
        width: 100px;
        height: 153px     
       
    }
    .screen{
        height: 30px;
        width: 98px;
    }
    .butt{
        width:20px;
        height: 18px;
        
    }
    .button{  
        margin: 0px;
        text-align: center;  
    }
    .A{
        font-size: 7px;
        margin:0px;
        text-align: center;   
    
    }
    .reset{
        width: 88px;
        height: 20px;
        font-size: 10px;
        margin-top:5px;
    }

}